{% load static %}
<!DOCTYPE html>
<html lang="en-US" class="scroll-smooth">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8" />
    <title> 
        {% block title %}{% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/plugin-css/swiper-bundle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/plugin-css/aos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/plugin-css/swiper-bundle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/plugin-css/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/plugin-css/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/plugin-css/simple-datatables.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/plugin-css/preloader.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/custom.css' %}" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.0/mapbox-gl.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>

    <style>

        #marker, .marker {
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>

    {% block others_styles %}

    {% endblock %}
</head>

<body class="relative">

    <style>
        .mapboxgl-popup {
            max-width: 400px;
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            }
    </style>

    <main>
        
        {% block loader %}
            <div style="z-index: 1000" class="bg-gray-900" id="preloader">
                <div id="loader"></div>
            </div>
        {% endblock loader %}
            
        {% block content %}
            
        {% endblock content %}
    </main>
    
    {% block scripts %}
        <script src="{% static 'home/assets/js/others/plugins-core/aos.js' %}"></script>
        <script src="{% static 'home/assets/js/others/plugins-script/aos.js' %}"></script>
        <script src="{% static 'home/assets/js/others/plugins-core/swiper-bundle.js' %}"></script>
        <script src="{% static 'home/assets/js/others/plugins-script/testimonial/testimonial.js' %}"></script>
        <script src="{% static 'home/assets/js/others/plugins-core/alpine.min.js' %}"></script>
        <script src="{% static 'home/assets/js/main.js' %}"></script>

    {% endblock scripts %}

    {% block others_scripts %}

    {% endblock %}
        
    
</body>
</html>